<main class="main vh-90">
  <div class="container h-100 py-4 py-lg-5">
    <div class="row h-100 d-flex flex-column justify-content-center align-items-center">
      <div class="col-11 col-lg-10 col-xl-8 d-flex flex-column justify-content-center align-items-center">
        <h1 class="h2 mb-3 texto-negro">Inicia sesión</h1>
        <form id="formLogin" [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="container mt-initial mt-0 mt-md-5 mt-sm-5">
          <div class="row gutter-5">
            <div class="col-12 col-md-4 mb-3 mb-lg-4">
              <label class="sr-only" for="correo">Correo</label>
              <input type="email" formControlName="email" class="form-control" name="correo" id="correo" placeholder="Correo" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
              <i class="position-absolute icon-check-o texto-verde"></i>
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback text-right">
                <div *ngIf="f.email.errors.required">El e-mail es requerido</div>
                <div *ngIf="f.email.errors.email">El e-mail debe ser una dirección válida</div>
                <div *ngIf="f.email.errors.minlength">El e-mail debe tener al menos 10 caracteres</div>
              </div>
            </div>
            <div class="col-12 col-md-4 mb-3 mb-lg-4">
              <label class="sr-only" for="contrasena">Introduce tu contraseña</label>
              <div class="input-group">
                <input type="password" formControlName="password" class="form-control" placeholder="Contraseña" aria-label="" aria-describedby="basic-addon1" name="contrasena" id="contrasena" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                <div class="input-group-append">
                  <button class="btn btn-blanco add cambiar ver-password texto-azulbase" data-accion="1" type="button">
                    <i class="icon-ojo-cerrado"></i>
                  </button>
                </div>
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback text-right">
                  <div *ngIf="f.password.errors.required">La contraseña es requerida</div>
                  <div *ngIf="f.password.errors.minlength">La contraseña debe tener al menos 8 caracteres</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 mb-3 mb-lg-4 text-center text-md-left">
              <button type="submit" [disabled]="loading" class="btn btn-primary btn-default btn-rounded px-5 btn-block">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Iniciar sesión
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
