<!-- Menu web -->
<header>
  <nav class="navbar navbar-expand-md fixed-top">
    <div class="container">
      <a class="navbar-brand py-0 d-block" routerLink="/dashboard">
        Prueba Peru Apps
      </a>

      <button class="navbar-toggler texto-blanco openMenu" type="button">
        <a class="nav-link" id="openMenu2" href="#">
          <i class="icon-menu"></i>
        </a>
      </button>

      <div class="collapse navbar-collapse navbar-main" id="navbarCollapse">
        <ul class="navbar-nav ml-auto menu-right">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/empleados">Empleados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/equipamentos">Equipamentos</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/logout">Cerrar Sesion</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
</header>

<main class="main vh-90">
  <div class="container py-4 py-lg-5">
    <div class="row h-100 d-flex flex-column justify-content-center align-items-center">
      <div class="col-11 col-lg-10 col-xl-8 d-flex flex-column justify-content-center align-items-center">
        <h1 class="h2 mb-3 texto-negro">Equipamento</h1>
      </div>

      <div style="width: 400px; margin: auto;">
        <div class="submit-form">
          <div *ngIf="!submitted">
            <div class="form-group">
              <label for="equipamento">Equipamento</label>
              <input
                type="text"
                class="form-control"
                id="equipamento"
                [(ngModel)]="equipamento.equipamento"
                name="equipamento"
                required
              />
            </div>

            <button (click)="updateEquipamento()" class="btn btn-success">Actualizar</button>
          </div>

          <div *ngIf="submitted">
            <h4>{{ message }}</h4>
            <button class="btn btn-success" routerLink="/equipamentos">Lista Equipamentos</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>
