<!-- Menu web -->
<header>
  <nav class="navbar navbar-expand-md fixed-top">
    <div class="container">
      <a class="navbar-brand py-0 d-block" routerLink="/dashboard">
        Prueba Peru Apps
      </a>

      <button class="navbar-toggler texto-blanco openMenu" type="button">
        <a class="nav-link" id="openMenu2" href="#">
          <i class="icon-menu"></i>
        </a>
      </button>

      <div class="collapse navbar-collapse navbar-main" id="navbarCollapse">
        <ul class="navbar-nav ml-auto menu-right">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/empleados">Empleados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/equipamentos">Equipamentos</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/logout">Cerrar Sesion</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
</header>

<main class="main vh-90">
  <div class="container py-4 py-lg-5">
    <div class="row h-100 d-flex flex-column justify-content-center align-items-center">
      <div class="col-11 col-lg-10 col-xl-8 d-flex flex-column justify-content-center align-items-center">
        <h1 class="h2 mb-3 texto-negro">Dashboard</h1>
      </div>
      <div class="col-4">
        <div class="card bg-light">
          <div class="card-header">Mantenimiento Empleados</div>
          <div class="card-body text-center">
            <a class="nav-link" routerLinkActive="active" routerLink="/empleados">
              <svg width="100" height="100" viewBox="0 0 16 16" class="bi bi-speaker-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 4a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-2.5 6.5a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0z"/>
                <path fill-rule="evenodd" d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm6 4a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 7a3.5 3.5 0 1 0 0 7 3.5 3.5 0 0 0 0-7z"/>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card bg-light">
          <div class="card-header">Mantenimiento Equipamentos</div>
          <div class="card-body text-center">
            <a class="nav-link" routerLinkActive="active" routerLink="/equipamentos">
              <svg width="100" height="100" viewBox="0 0 16 16" class="bi bi-speaker-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 4a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-2.5 6.5a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0z"/>
                <path fill-rule="evenodd" d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm6 4a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 7a3.5 3.5 0 1 0 0 7 3.5 3.5 0 0 0 0-7z"/>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
