<!-- Menu web -->
<header>
  <nav class="navbar navbar-expand-md fixed-top">
    <div class="container">
      <a class="navbar-brand py-0 d-block" routerLink="/dashboard">
        Prueba Peru Apps
      </a>

      <button class="navbar-toggler texto-blanco openMenu" type="button">
        <a class="nav-link" id="openMenu2" href="#">
          <i class="icon-menu"></i>
        </a>
      </button>

      <div class="collapse navbar-collapse navbar-main" id="navbarCollapse">
        <ul class="navbar-nav ml-auto menu-right">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/empleados">Empleados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/equipamentos">Equipamentos</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/logout">Cerrar Sesion</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
</header>

<main class="main vh-90">
  <div class="container py-4 py-lg-5">
    <div class="row h-100 d-flex flex-column justify-content-center align-items-center">
      <div class="col-11 col-lg-10 col-xl-8 d-flex flex-column justify-content-center align-items-center">
        <h1 class="h2 mb-3 texto-negro">Empleados</h1>
      </div>
      <div class="col-11 col-lg-10 col-xl-8 d-flex flex-column justify-content-center align-items-center">
        <a href="#" routerLink="/add-empleado" class="btn btn-info">Agregar Empleado</a>
      </div>
      <table class="table">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Nombres</th>
          <th scope="col">Ap. Paterno</th>
          <th scope="col">Ap. Materno</th>
          <th scope="col">Cargo</th>
          <th scope="col">Complejo</th>
          <th scope="col" width="220px">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let emp of empleado">
          <td>{{ emp.nombres }}</td>
          <td>{{ emp.ap_paterno }}</td>
          <td>{{ emp.ap_materno }}</td>
          <td>{{ emp.cargo }}</td>
          <td>{{ emp.complejo_idcomplejo }}</td>
          <td>
            <a href="#" [routerLink]="['/empleado/', emp.idempleado]" class="btn btn-primary btn-sm">Edit</a>
            <button type="button" (click)="deleteEmpleado(emp.idempleado)" class="btn btn-danger btn-sm">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</main>
